
<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
   

    <title>DALA - Admin</title>

    <!-- Icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/simple-line-icons.css" rel="stylesheet">

    <!-- Main styles -->
    <link href="css/style.css" rel="stylesheet">
<style>
a:hover {text-decoration:none;}
</style>
</head>


<body class="navbar-fixed sidebar-nav fixed-nav">
    <header class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">☰</button>
            <a class="navbar-brand" href="#"></a>
            <ul class="nav navbar-nav hidden-md-down">
                <li class="nav-item">
                    <a class="nav-link navbar-toggler layout-toggler" href="#">☰</a>
                </li>
            </ul>
            <ul class="nav navbar-nav float-xs-right hidden-md-down">
              
              <li class="nav-item">
             <!-- Split button -->
<div class="btn-group">
  <button type="button" class="btn btn-sm btn-danger">English</button>
  <button type="button" class="btn btn-sm btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" style="padding:3px 1.5rem;" href="#">English</a></li>
    <li><a class="dropdown-item" style="padding:3px 1.5rem;" href="#">සිංහල </a></li>
    <li><a class="dropdown-item" style="padding:3px 1.5rem;" href="#">தமிழ்</a></li>
   
  </ul>
</div>
               </li>
               
                <li class="nav-item">
                    <a class="nav-link aside-toggle" href="#"><i class="fa fa-envelope-o"></i><span style="font-size:11px;" class="tag tag-pill tag-danger">5</span></a>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="img/default-user-image.png" class="img-avatar" alt="">
                        <span class="hidden-md-down">admin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">

                        <div class="dropdown-header text-xs-center">
                            <strong>Account</strong>
                        </div>
                        
                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
                    </div>
                </li>
                <li class="nav-item"> 
                &nbsp;
                 </li>
            </ul>
        </div>
    </header>

    <div class="sidebar">

        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard </a>
                </li>

                <li class="nav-title">
                    Health
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Baseline Info</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="health_baseline_rdh.html"> Health status in a District or RDH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_baseline_district.html"> Medical facilities in a district</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_baseline_unitcost_district.html"> Unit cost of the Ministry Health System in a district</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_baseline_unitcost_othermedi_district.html"> unit cost of other medical facilities in a district </a>
                        </li>
                       
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                </li>
               
               
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Damages and Loss</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="health_damagelost_ministry_helth.html"> Line Ministry Health System</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_damagelost_other_medi.html"> Other medical facilities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_damagelost_private.html"> Assessment of private health facilities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_summery_damageloss_dis.html"> Summery health sector in a district</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_summery_damageloss_province.html"> Summery Health sector in the province</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="health_summery_damageloss_national.html"> Summery health sector nationwide</a>
                        </li>
						
						
                        <li class="nav-item">
                            
                        </li>
                    </ul>
                </li>
               
 
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            
            <li class="breadcrumb-item"><a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Health Sector</li>

           
        </ol>


         <div class="container-fluid">

			 <div class="card">
                            <div class="card-header">
                                <strong>Search</strong>
                                
                            </div>
                            <div class="card-block">
                                

                               

                                <div class="row">
								
								 

                                    <div class="form-group col-sm-3">
                                        <label for="ccmonth">Province  &nbsp;&nbsp;<label for="checkbox1">
                                                    <input type="checkbox" id="checkbox1" name="checkbox1" value="option1"> All
                                                </label></label>
                                        <select class="form-control" id="ccmonth" style="margin-top:-7px;">
                                            <option>1</option>
                                            <option>2</option>
                                            
                                        </select>
                                    </div>

                                    <div class="form-group col-sm-3">
                                        <label for="ccyear">District</label>
                                        <select class="form-control" id="ccyear">
                                            <option>1</option>
                                            <option>2</option>
                                            
                                        </select>
                                    </div>

                                    <div class="col-sm-2">

                                        <div class="form-group">
                                            <label for="cvv">Disaster Type</label>
                                            <select class="form-control" id="ccyear">
                                            <option>1</option>
                                            <option>2</option>
                                            
                                        </select>
                                        </div>

                                    </div>
									
									 <div class="col-sm-2">

                                        <div class="form-group">
                                            <label for="cvv">Year & Month</label>
                                          <input name="textinput" style="line-height:0;" type="text" placeholder="" id="datepicker" class="form-control input-md">
                                        </div>

                                    </div>
									<div class="col-sm-1">

                                        <div class="form-group">
                                            
                                          <button type="button" class="btn btn-sm btn-primary" style="padding:7px;margin-top:28px;"><i class="fa fa-search"></i> Search</button>
                                        </div>

                                    </div>

                                </div>
                                <!--/row-->
                            </div>
                        </div>  

            <div class="animated fadeIn">
                <div class="card-columns col-2">
                    <div class="card">
                        <div class="card-header">
                             Chart
                            
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                              
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Chart
                           
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Chart
                            
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                               
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                           Chart
                            
                        </div>
                        <div class="card-block">
                            <div class="chart-wrapper">
                                
                            </div>
                        </div>
                    </div>
                  
                  
                </div>
            </div>

        </div>
        <!-- /.conainer-fluid -->
        <!-- /.conainer-fluid -->
    </main>

    <footer class="footer">
        <span class="text-left">
             © 2016 ADPC.
        </span>
        <span class="float-xs-right">
            Developed by <a href="http://geoedge.lk">GeoEDGE</a>
        </span>
    </footer>

    <!-- Bootstrap and necessary plugins -->
    <script src="js/jquery.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
   


    <!-- GenesisUI main scripts -->

    <script src="js/app.js"></script>





    <!-- Plugins and scripts required by this views -->

   

</body>

</html>